*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.header-body{
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    padding: 16px 200px 16px 200px;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    width: 1600px;
}



.menu-items{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32px;


}
.menu-items li{
    list-style: none;
    
}

.menu-items a{
    text-decoration: none;
    font-size: 16px;
font-weight: 500;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
color: #FFFFFF;
}

.btn01{
color:#FFFFFF;
width: 135px;
height: 44px;
font-size: 16px;
font-weight: 600;
line-height: 19px;
text-align: left;
align-items: center;
border-radius: 10000px;
padding: 12px 16px 12px 16px;
background: linear-gradient(to right, #F7E93F 0%,#FB09B4 51%,#9100F8 100%);
transform: scale(1);
transition: transform 0.3s ease;
}

.btn01:hover{
    transform: scale(1.1);
}

.banner{
    width: 1600px;
    height: 760px;
    background: url(assets/hero-bg.png);
}
.banner-container{
    display: flex;
}

.banner-body img{
    align-items: center;
    margin: 101px 625px 309px 625px;
}

.banner-icon img{
   margin: 180px 50px 270px -860px;
}

.banner-icon02 img{
    align-items: center;
   margin: 90px 50px 270px -750px;
}