*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.header-body{
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    padding: 16px 200px 16px 200px;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    width: 100%;;
}



.menu-items{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32px;


}
.menu-items li{
    list-style: none;
    
}

.menu-items a{
    text-decoration: none;
    font-size: 16px;
font-weight: 500;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
color: #FFFFFF;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn01{
color:#FFFFFF;
width: 135px;
height: 44px;
font-size: 16px;
font-weight: 600;
line-height: 19px;
text-align: left;
align-items: center;
border-radius: 10000px;
padding: 12px 16px 12px 16px;
background: linear-gradient(to right, #F7E93F 0%,#FB09B4 51%,#9100F8 100%);
transform: scale(1);
transition: transform 0.3s ease;
}

.btn02{
color:#FFFFFF;
width: 201px;
height: 44px;
font-size: 16px;
font-weight: 600;
line-height: 19px;
text-align: left;
align-items: center;
border-radius: 10000px;
padding: 12px 20px 12px 20px;
background: linear-gradient(to right, #F7E93F 0%,#FB09B4 51%,#9100F8 100%);
transform: scale(1);
transition: transform 0.3s ease;
}

.btn03{
    width: 147px;
height: 44px;
font-size: 16px;
font-weight: 600;
line-height: 19px;
text-align: left;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid #00FF88;
background-color: transparent;
color: #00FF88;
border-radius: 10000px;
transform: scale(1);
transition: transform 0.3s ease-in;
}
.btn01:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btn02:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btn03:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 760px;
    position: relative;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-center {
    position: relative;
    text-align: center;
    color: #FFFFFF;
}
.banner-body img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-105px);
    z-index: 1;
}


.banner-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-105px);
    z-index: 2;
}

.animation01 {
    animation: breathe 1s ease-in-out infinite;
    transform-origin: center;
}
@keyframes breathe {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.95;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.banner-iconnew{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(110px) translateY(-242px);
    z-index: 3;
}

.banner-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(198px) translateX(261px);
    text-align: center;
    line-height: auto;
    color: #ffffff;

}

.banner-text h1{
font-size: 60px;
font-weight: 800;
line-height: 73px;
text-align: center;
text-transform: capitalize;
}

.banner-text p{
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
margin-top: 8px;
opacity: 0.8;
}

.button-area{
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%) translateX(-10px) translateY(250px);
    top: 50%;
    left: 50%;
    z-index: 4;
    gap: 8px;
}

.podcast-about{
    text-align: center;
}

.podcast-section{
    background-color: #1A0B2E;
}

.podcast-items{
    padding: 50px 200px 120px 200px;
}
.podcast-about h1{
font-style: Bold;
font-size: 48px;
line-height: 58px;
text-align: center;
color: #FFFFFF;
}

.podcast-about p{
    margin-top: 16px;
text-align: center;
color: #FFFFFF;
font-size: 16px;
line-height: 20px;
text-align: center;
opacity: 0.8;
}

.podcast-about hr{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #FFFFFF;
    opacity: 0.1;
}
.podcast-cards{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.card01 h1{
font-size: 48px;
font-weight: 900;
line-height: 58px;
text-align: center;
color: #00FF88;
}

.card01 p{
margin-top: 16px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
color: #FFFFFF;
}

.grid-body{
    background-color: rgba(35, 14, 61, 1);
    align-items: center;
    padding: 120px 200px 120px 200px;

}
.grid-container>*{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
}

.grid01{
    grid-area: grid01;
}

.grid02{
    grid-area: grid02;
}

.grid03{
    grid-area: grid03;
}

.grid04{
    grid-area: grid04;
}

.grid05{
    grid-area: grid05;
}

.grid-container{
    display: grid;
    gap: 30px;
    grid-template-areas: "grid01 grid02 grid02"
                        "grid01 grid03 grid03"
                        "grid04 grid04 grid05"

}

.grid-title h1{
color: white;
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: center;
margin-bottom: 30px;
}

.grid01{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.grid-container h1{
color: white;
font-size: 24px;
font-weight: 700;
line-height: 29px;
text-align: left;
margin-top: 16px;
}

.grid-container p{
color: white;
font-size: 16px;
line-height: 24px;
text-align: left;
margin-top: 16px;
opacity: 0.6;
}


.featured-section{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 120;
padding: 120px 200px 120px 200px;
background: rgba(26, 11, 46, 1);
}

.episode-title h1{
font-size: 48px;
font-style: bold;
line-height: 58px;
text-align: center;
text-transform: capitalize;
color: white;
}

.ep-cards{
    width: 380px;
    height: 440px;
    border-radius: 16px;
    background-color: #250D44;
}

.vid iframe{
    width: 380px;
    height: 214px;
    border-radius: 16px 16px 0 0;
}
.vid-text{
    padding: 24px;
}
.vid-text h1{
font-style: Bold;
font-size: 24px;
line-height: 29px;
text-align: left;
color: #FFFFFF;
}

.vid-text p{
margin-top: 12px;
margin-bottom: 12px;
font-size: 16px;
line-height: 24px;
text-align: left;
color: #FFFFFF;
opacity: 0.6;
}

.vid-text span{
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
color: #00FF88;
}

.card-body{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.host{
    margin-top: 120px;
}
.host h1{
font-weight: 700;
line-height: 58px;
text-align: center;
color: #FFFFFF;
}
.host-title{
    margin-bottom: 24px;
}
.host-card{
    display: flex;
    gap: 24px;
    background-color: #250D44;
    border-radius: 40px;
    padding: 40px;
}

.name h1{
font-style: Bold;
font-size: 32px;
line-height: 39px;
text-align: left;
}

.name p{
margin-top: 16px;
margin-bottom: 16px;
font-size: 16px;
line-height: 24px;
text-align: left;
opacity: 0.6;
color: #FFFFFF;
}

.logo{
    display: flex;
    gap: 8px;
}

.logo i {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.logo i:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.footer {
    width: 100%;
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 16px;
}

.footer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer-logo img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.footer-list {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    color: #fff;
}

.footer-scoial li {
    font-size: 16px;
    opacity: 0.6;
}

.copyright {
    margin-top: 24px;
    text-align: center;
}

.copyright p {
    font-size: 14px;
    opacity: 0.6;
    color: #fff;
}

@media (max-width: 576px) {

    body {
        overflow-x: hidden;
    }
     .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }
    .button01{
        display: none;
    }
.grid-title h1{
    margin-top: -60px;
font-style: Bold;
font-size: 32px;
line-height: 39px;
text-align: center;
    }
    

.header-body,
.podcast-items,
.grid-body {
        padding-left: 16px;
        padding-right: 16px;
    }

    .banner {
        height: auto;
        min-height: 100vh;
    }

    .grid-container {
        grid-template-areas:
            "grid01"
            "grid02"
            "grid03"
            "grid04"
            "grid05";
    }

      .featured-section {
    padding: 40px 16px;
    }
    .card-body{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    }

 .episode-title h1.ftep {
        font-size: 26px;
        line-height: 32px;
        white-space: nowrap;
    }
.podcast-cards{
    width: 100%;
}

   .ep-cards {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

    .vid iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

.name h1{
font-size: 32px;
font-weight: 700;
line-height: 39px;
text-align: center;

}

.host-card{
width: 100%;             
max-width: 400px;         
height: auto;            
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 16px;
}
.host img{
    width: 150px;
height: 150px;
}
.name{
    
    align-items: center;
    text-align: center;
}
.name h1{
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}
.name p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
}
.footer-logo{
    max-width: 180px;
    min-height: 32px;
    align-items: center;
}
   .footer-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    text-align: center;
  }
.banner-body img {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 220px;
    height: 220px;
  }

.banner-icon img{
    width: 65px;
    height: auto;
    transform: translate(-50%, -50%) translateX(30px) translateY(58px);
    z-index: 2;
}

 .banner-iconnew {
    width: 130px;
    position: absolute;
    top: 10px;
    right: -10px;
    transform: translate(-50%, -50%) translateX(70px) translateY(85px);
  }
.podcast-items{
    padding: 40px 20px;
}
.podcast-section{
background: #1A0B2E;
}
.podcast-about h1{
width: 100%;
font-size: 28px;
font-weight: 700;
text-align: center;
text-transform: capitalize;
margin-bottom: 16px;
}

.podcast-about p{
width: 100%;
opacity: 0.8;
font-size: 16px;
line-height: 20px;
text-align: center;

}




.banner-iconnew img{
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%) translateY(115px) translateX(35px);
}

 .banner-text,
  .banner-text h1,
  .banner-text p,
  .button-area {
    transform: none !important;
    position: static;
  }

  .banner-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

.podcast-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
}